.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Distribute items evenly */
  align-items: center;
}





.pagination button,
.pagination span {
  padding: 8px 16px; /* Increased padding */
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  color: #333;
  cursor: pointer;
  margin: 0 4px; /* Increased margin */
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #e9ecef;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.pagination .active {
  background-color: #007bff;
  color: #fff;
}

.pagination span {
  padding: 0;
}

.pagination button:first-child,
.pagination button:last-child {
  margin: 0;
}

.pagination button:first-child::after,
.pagination button:last-child::after {
  content: attr(data-content);
}

.pagination button::after {
  margin-left: 4px;
}
