.wrapper {
  padding: 10px;
}
.limit{
  display: flex;
  justify-content: space-between;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
